* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    background: url(../img/horses.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}